/* === User Menu, Credit to Strencher#1044 for this === */
/* === Disabled cuz broken with the new discord update === */

/* .guilds_a4d4d9 {
  height: calc(100% - 128px);
}
.guilds_a4d4d9 .scroller_fea3ef {
  background: var(--background-tertiary);
} */

/* added :not(.powercord-spotify) so it doesn't break powercord spotify panel plugin.
  (make a issue or pr if you found a better way to do this.) */

/* :not(.powercord-spotify) > .container_b2ca13 {
  position: absolute;
  left: -62px;
  bottom: 39px;
  z-index: 1;
  display: flex;
  flex-direction: column;
}
:not(.powercord-spotify) > .container_b2ca13::before {
  content: "";
  display: block;
  position: fixed;
  width: 72px;
  height: 128px;
  bottom: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
  background: var(--background-tertiary);
}
.button_f67531 {
  color: var(--interactive-normal) !important;
  transition: color 150ms ease-in;
}
.button_f67531:hover {
  color: var(--interactive-hover) !important;
}
.title_d1da5f {
  color: var(--accent-color);
  font-weight: 650;
}
.sidebar_a4d4d9 {
  overflow: visible !important;
}
.base_a4d4d9 {
  overflow: visible !important;
  max-width: calc(100% - 72px);
}
.panels_a4d4d9 {
  background-color: var(--background-tertiary);
  padding-bottom: 25px;
}
.panel-j1Uci_ .powercord-spotify {
	padding-bottom: none;
}
:not(.powercord-spotify) > .container_b2ca13 .nameTag_b2ca13 {
  position: absolute;
  bottom: -37px;
  align-items: center;
  display: flex;
  left: 5px;
  z-index: 2;
}
:not(.powercord-spotify) > .container_b2ca13 .flex_bba380 {
  left: 140px;
  bottom: -64px;
  position: relative;
}
:not(.powercord-spotify) > .container_b2ca13 .flex_bba380 button:last-of-type {
  position: fixed;
  bottom: 38px;
  transform: scale(1.7);
  left: 21px;
  z-index: 2;
}
:not(.powercord-spotify) > .container_b2ca13 .flex_bba380 button:last-of-type:hover {
  background: none;
}
:not(.powercord-spotify) > .container_b2ca13 .flex_bba380 button:not(:last-of-type) {
  background: none;
  left: 60px;
  transform: scale(0.7);
}
:not(.powercord-spotify) > .container_b2ca13 .avatarWrapper_b2ca13 {
  position: absolute;
  left: 10px;
  z-index: 2;
  top: -25px;
}
:not(.powercord-spotify) > .container_b2ca13 .subtext_e06aad {
  font-size: 14px;
  margin-left: 3px;
}
:not(.powercord-spotify) > .container_b2ca13 .hoverRoll_c0d6c6 {
  width: 140px;
}
:not(.powercord-spotify) > .container_b2ca13 .hovered_c0d6c6 {
  text-overflow: unset;
} */

/* Fix Status picker position */
/* #status-picker {
  bottom: -8em;
  left: 4.3em;
} */
